/* @font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  } */

  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  body > div.L3eUgb > div.o3j99.qarstb {
      display: flex;
      justify-content: center;
  }
  .mainDiv {
      display: flex;
      flex-direction: column;
      font-family: sans-serif;
      background-color: #F8F9FA;
      border-radius: 9px;
      padding-bottom: 15px;
      box-shadow: 1px 1px 1px rgb(199, 203, 212);
      /* border: 1px solid; */
      border-color: rgb(160, 160, 160);
      max-width: 60vw;
      justify-content: center;
      align-items: center;
      margin-bottom: 4vh;
      padding: 25px;
  }
  
  .mainDiv a {
    color: #4c8bf5;
  }
  .mainDiv h1 {
      text-align: center;
      color: #000000;
  }
  
  .titleDiv {
      font-family: sans-serif;
      margin-left: 10px;
      margin-top: 10px;
      font-size: 18px;
  }
  
  .snippetDiv {
      font-size: 10px;
      margin-left: 10px;
    }
    
    .snippetDiv h2 {
      font-weight: 100;
  }
  
  .articleDiv {
      display: block;
      overflow: auto;
      font-family: sans-serif;
      color: #000000;
      background-color:#DFE1E5;
      /* border: #606367; */
      /* border-style: solid; */
      border-radius: 1rem;
      /* stroke: rgb(130, 130, 130); */
      /* box-shadow: 1px 1px 4px 1px rgb(0, 0, 0); */
      margin-top: 12px;
      width: 94%;
      padding: 14px;
  }

  .progressTrackerDiv {
      margin-top: -250px;
  }

  
