body > div.L3eUgb > div.o3j99.qarstb {
    display: flex;
    justify-content: center;
}
.mainDiv {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(154, 180, 254);
    border-radius: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.mainDiv h1 {
    text-align: center;
}

.titleDiv {
    margin-top: 10px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 14px;
}

.snippetDiv {
    font-size: 9px;
    font-weight: 250px;
    padding-left: 1.5vw;
    padding-bottom: 1vh;
}

.articleDiv {
    height: 90px;
    width: 90%;
    background-color: rgb(198, 102, 102);
    border-radius: 1rem;
    margin-left: 5%;
    margin-top: 2px;
}